body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #7b287d; /* Color de fondo del cuerpo */
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.main {
  width: 404px;
  height: 450px; /* Ajusté la altura para incluir el botón de reiniciar */
  border-radius: 25px;
  background-color: #7e4280;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

body.pomodoro {
  background-color: #7b287d;
}

.botones {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.botonPomodoro {
  background-color: #5B315F;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.botonDescansote {
  background-color: #7E4280;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.timer {
  font-size: 110px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.botonsin {
  width: 201px;
  height: 61px;
  background-color: #fff;
  color: #7E4280;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.botonsin:hover {
  opacity: 0.8;
}
